
.Header{
width: 100%;
padding-top: 0.7%;
background-color: black;
color: white;
}
.CenterBody{
background-color: #ea9b51;
color: white;
padding: 10%;
margin: 5%;
margin-bottom: 10%;
padding-bottom: 10%;

}

.Title{
    font-family: 'Louis George Cafe Bold';
    font-size: 30px;
    text-shadow: 0px 1px #ea9b51;
    font-weight: 600;
    margin: auto; 
    margin-left: 0.7%;
    padding-bottom: 0.7%;
}

.Title2{
    font-size: 30px;
    text-shadow: 0px 1px #ea9b51;
    font-weight: 600;
    margin: auto; 
    margin-left: 0.7%;
    padding-bottom: 0.7%;
}

.Container {
    /* The image used */
    background-image: url(./assets/background.png);

    /* Full height */

    /* Center and scale the image nicely */
    background-repeat: round;
    background-position: initial;
    background-size: auto;

    padding: 5%;
    padding-bottom: 10%;
}

.test{
    font-family: 'Louis George Cafe Bold';
    color: white;
    font-size: 40px;
}