
.Header{
background-color: black;
color: white;
}

.CenterBody{
/* align-self: center;
background-color: #ea9b51;
color: white;
 */
margin: 15%;
background-color: firebrick;
max-width: 1200px;
padding: 1%;
}

.CenterBodyImage{
    padding: 2%;
}

.HeaderTitle{
    font-family: 'Louis George Cafe Bold';
    font-size: 38px;
    text-shadow: 0px 1px #ea9b51;
    font-weight: 600;
    display: inline;
    margin: 1%;
}

.HeaderButton{
    display: inline;
    float: right;
    margin: 0.3%;
    margin-top: 0.7%;
    padding: 3px;
}

.test{
    font-family: 'Louis George Cafe Bold';
    color: white;
    font-size: 40px;
}

button {
    border-radius: 4px;
    padding: 5px 10px;
    margin: 4px 0;
}
