.Header{
  position: absolute;
font-weight: 600;
 background-color: black;
 padding: 0.5%;
 color: white;
}
.Body{
 background-color: black;
 color: white;
 size: 100px;
 padding: 10%;
 margin: 10%;
 flex: 1;
}
.App {
  padding: 2%;
background-color: #e9dfc6;
}